{
  "rules": {
    "indent": [ 2, 2 ], // 4 space indentation
    "linebreak-style": [ 0, "unix" ], // no check for EOL
    "max-depth": [ 1, 4 ],
    "max-len": [ 1, 125, 2 ], // Max indentation depth
    "max-params": [ 1, 7 ],
    "no-cond-assign": [ 2, "always" ],
    "no-else-return": 1,
    "no-eval": 1,
    "no-extend-native": 1,
    "no-fallthrough": 1,
    "no-lone-blocks": 1,
    "no-multi-spaces": 1,
    "no-unused-expressions": 0,
    "quotes": [ 1, "single" ],
    "radix": 0,
    "semi": [ 2, "always" ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "space-in-brackets": 0,
    "strict": [ 0 ]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "$": false, // We shouldn't be using jquery
    "$$": false,
    "_": true,
    "afterEach": true,
    "angular": true,
    "beforeEach": true,
    "browser": true,
    "by": true,
    "describe": true,
    "element": true,
    "expect": true,
    "fdescribe": true,
    "fit": true,
    "inject": true,
    "it": true,
    "jasmine": true,
    "module": true,
    "request": true,
    "sinon": true,
    "xdescribe": true
  }
}
