// Add any fonts we have
@import "../../../bower_components/font-awesome/less/font-awesome.less";
@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "../../../bower_components/ng-gov-uk/dist/ngGovUk.less";
@import "../../../bower_components/ladda/dist/_ladda-themeless.min.less";
@import "../../../bower_components/angular-busy/dist/_angular-busy.min.less";

// Middle Directive

[middle] {
  display: table;
  width: 100%;
  height: 100%;
}
[middle] .middle-wrapper {
  display: table-cell;
  vertical-align: middle;
}
[middle][middle-horizontal] .middle-wrapper > * {
  margin: auto;
  float: none;
}

a[ng-click]{
  cursor: pointer;
}

@image-path: "/assets/img/";
@fa-font-path: "/assets/fonts";
@icon-font-path: "/assets/fonts/";
@nta-font-family-path: "/assets/fonts/";
